.add_skill_button {
  height: 70px;
  width: 70px;
  border: none;
  border-radius: 5px 5px 5px 5px;
  background-color: rgba(255, 255, 255, 0.1);
}

.add_skill_button:hover {
  background-color: rgba(255, 255, 255, 0.08);
}