.node_button {
  position: relative;
  display: grid;
  align-items: center;
  width: 116px;
  height: 116px;
  pointer-events: auto;
  grid-column: 1;
  grid-row: 1;
}

.node_button > button {
  background-color: #d4d4d4;
  border: none;
  border-radius: 50%;
  width: 96px;
  height: 96px;
  margin-left: 9px;
  padding: 0;
  flex-shrink: 0;
  z-index: 7;
  overflow: hidden;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* 
   * For scroll to display active button
   * Reference: StackOverflow: scrollIntoView Scrolls just too far | https://stackoverflow.com/questions/24665602/scrollintoview-scrolls-just-too-far
   */
  scroll-margin: 100px calc((50vw - 200px)/2) 0px calc((50vw - 200px)/2);
  scroll-snap-margin: 100px calc((50vw - 200px)/2) 0px calc((50vw - 200px)/2);
  scroll-padding: 100px calc((50vw - 200px)/2) 0px calc((50vw - 200px)/2);
  grid-column: 1;
  grid-row: 1;
  display: grid;
  transform: translateX(1px);
}

.node_button > button.active {
  box-shadow: 0 0 5px 4px #669ac4;
}

.node_button > button > img {
  width: 100px;
  height: 100px;
  grid-column: 1;
  grid-row: 1;
  background-color: blue;
}

/* Dark Mode */

.dark .node_button > button {
  background-color: #c6c6c6;
}

.dark .node_button > button.active {
  box-shadow: 0 0 5px 4px #446682;
}