.skill_preview {
  position: absolute;
  max-width: 300px;
  background-color: white;
  box-shadow: 0 0 10px 3px lightgray;
  z-index: 20;
  transform: translate(calc(-100% - 10px), calc(50% - 52px));
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

.skill_preview > p {
  font-size: 14pt;
  margin: 0;
  overflow-wrap: break-word;
}

.fade-in {
  animation: fadeIn 0.8s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Dark Mode */

.dark .skill_preview {
  background-color: #393939;
  box-shadow: none;
  color: rgba(255, 255, 255, 0.87);
}
