.user_button {
  width: 244px;
  height: 55px;
  margin: 8px;
  text-align: left;
  background-color: rgb(230, 230, 230);
  border: 1.1px solid rgb(200, 200, 200);
  border-radius: 3px;
  padding-left: 10px;
  cursor: pointer;
}

.user_button:hover {
  background-color: rgb(220, 220, 220);
}
