.skill_container {
  display: flex;
  height: 100%;
}

.skill_tree_outer_container {
  width: 100%;
  height: 100%;
}

.user_btn {
  position: absolute;
  right: 0;
  margin-left: 100px;
}

.active {
  color: blue;
}