.skill_progress {
  height: 106px;
  width: 106px;
  grid-column: 1;
  grid-row: 1;
  border-radius: 50%;
  z-index: 2;
  box-sizing: border-box;
}

.skill_progress.active {

}

/* Dark Mode */

.dark .skill_progress {
  border: 3px solid #212121;
}
