.draft_editor {
  width: 390px;
  height: 390px;
  background-color: #fff;
  color: black;
  border-radius: 2px;
  cursor: text;
  font-size: 13pt;
  padding: 1px;
  margin-top: 8px;
}

.DraftEditor-root .public-DraftStyleDefault-block {
  margin-bottom: 6px;
}

.DraftEditor-root ul.public-DraftStyleDefault-ul, .DraftEditor-root ol.public-DraftStyleDefault-ol {
  margin: 0;
  padding: 0px;
  padding-left: 24px;
}

.soft-line-break {
  line-height: 20px;
  background-color: red;
  color: blue;
}

.new_block_listener {
  height: 100%;
  width: 100%;
  background-color: transparent;
}

.new_block_listener:active {
  cursor: default;
}

/* Dark Mode */

.dark .draft_editor {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.87);
}