.draft_editor {
  width: 390px;
  height: 390px;
  background-color: #fff;
  color: black;
  border-radius: 2px;
  cursor: text;
  font-size: 13pt;
  padding: 1px;
  margin-top: 8px;
  line-height: 30px;
}

/* Dark Mode */

.dark .draft_editor {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.87);
}