.user_menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 234px;
  background-color: white;
  transform: translateY(-26px);
  box-shadow: 0 0 10px 3px lightgray;
  border-radius: 5px;
  border: none;
  padding: 5px;
  bottom: 30px;
  left: 8px;
}

.user_menu > button {
  display: flex;
  align-items: center;
  gap: 6px;
  width: 100%;
  height: 36px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 3px;
}

.user_menu > button:hover {
  background-color: rgb(240, 240, 240);
}

/* Dark Mode */

.dark .user_menu {
  background-color: #393939;
  box-shadow: none;
}

.dark .user_menu > button {
  color: rgba(255, 255, 255, 0.87);
}

.dark .user_menu > button:hover { 
  background-color: #4c4c4c;
}