.skill_tree {
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: scroll;
  grid-row: 1;
  grid-column: 1;
}

.skill_tree > .container {
  min-width: calc(100% - 200px);
  width: fit-content;
  width: -moz-fit-content;
  min-height: 100%;
  height: fit-content;
  display: grid;
  background-color: transparent;
  padding: 30px 100px 50px 100px;
}

.skill_tree > .container.expand {
  padding: 200px 635px 200px 240px;
}
