.community_tab {
  width: 245px;
  height: 45px;
  padding-left: 9px;
  flex-shrink: 0;
  text-align: left;
  border: none;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  background-color: rgb(230, 230, 230);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.community_tab.active {
  background-color: rgb(220, 220, 220);
}

.community_tab:hover {
  background-color: rgb(220, 220, 220);
}

/* Dark Mode */

.dark .community_tab {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.87);
}

.dark .community_tab.active {
  background-color: #252525;
}

.dark .community_tab:hover {
  background-color: #3b3b3b;
}