.user_auth_dialog .dialog_form > .form_context > .text_field {
  display: flex;
  flex-direction: column;
  margin: 10px 0 10px 0;
}

.user_auth_dialog .dialog_form > .form_context > .text_field > input {
  width: 280px;
  height: 36px;
}

.user_auth_dialog .dialog_form > .form_context > .have_account_or {
  color: gray;
}

.user_auth_dialog .text_button {
  border: none;
  background-color: transparent;
  color: rgb(47, 103, 245);
  font-size: 12pt;
  cursor: pointer;
}
