.node_icon {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  grid-column: 1;
  grid-row: 1;
  z-index: 9;
  margin-left: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.node_icon > img {
  user-select: none;
  -webkit-user-select: none;
}