.skill_edit_container {
  background-color: white;
  box-shadow: 0 0 10px 10px lightgray;
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  height: 100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
}

.skill_edit_container > .action_container {
  display: flex;
  align-items: center;
  padding: 10px 12px 0 12px;
  justify-content: space-between;
}

.skill_edit_container > .action_container > .action_btn {
  color: rgb(100, 100, 100);
  cursor: pointer;
}

.skill_edit_container > .action_container > .action_btn:hover {
  color: black;
}

.skill_edit_container > .skill_edit_form {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  margin: 10px 17px 17px 17px;
  width: 85%;
  height: auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.skill_edit_container > .skill_edit_form > .skill_edit_form > .form-group > .form-control {
  width: 300px;
  height: 24px;
}

.skill_edit_container > .skill_edit_form > .form-level-group {
  display: flex;
}

.skill_edit_form > .form-level-group > .form-group > .level {
  width: 103px;
}

.skill_edit_form > .form-level-group > .level-divider {
  display: flex;
  justify-content: center;
  align-items: end;
  min-width: 10px;
  height: 40px;
  font-size: 12pt;
  line-height: 26px;
}

.skill_edit_form > .form-level-group > .form-group > .max_level {
  width: 103px;
}

.skill_edit_form > .form-level-group > .form-group > .increaseBy {
  width: 105px;
}

.skill_edit_form > .form-level-group > .increaseBy {
  margin-left: 20px;
}

input::file-selector-button {
  height: 20px;
  border: none;
  background-color: gray;
  border-radius: 2px;
  color: white;
  cursor: pointer;
}

input::file-selector-button:hover {
  background-color: rgb(148, 148, 148);
}

.skill_edit_form > .form-group > .description {
  height: 270px;
}

.skill_edit_form > .action {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 20px;
}

.skill_edit_form > .action > .abtn {
  width: 70px;
}

.skill_edit_form > .action > .abtn.abtn_add {
  height: 26px;
  border-radius: 3px;
  background-color: gray;
  color: white;
  border: 1px solid gray;
  cursor: pointer;
}

.skill_edit_form > .action > .abtn.abtn_add:hover { 
  background-color: rgb(148, 148, 148);
}

.skill_edit_form > .action > .abtn.abtn_cancel {
  height: 26px;
  border-radius: 3px;
  background-color: white;
  border: 1px solid gray;
  cursor: pointer;
}

.skill_edit_form > .action > .abtn.abtn_cancel:hover { 
  background-color: rgb(245, 245, 245);
}
