.skill_edit_container {
  background-color: white;
  box-shadow: 0 0 10px 10px lightgray;
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  height: 100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
}

.skill_edit_container > .action_container {
  display: flex;
  align-items: center;
  padding: 10px 12px 0 12px;
  justify-content: space-between;
}

.skill_edit_container > .action_container > .action_btn {
  color: rgb(100, 100, 100);
  cursor: pointer;
}

.skill_edit_container > .action_container > .action_btn:hover {
  color: black
}

.skill_edit_form {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  margin: 10px 17px 17px 17px;
  width: 85%;
  height: auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-control {
  width: 300px;
  height: 20px;
}

.level_inputs_container {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 10pt;
}

.level_input {
  width: 30px;
}

.description {
  height: 100px;
}

.action {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 0;
}

.abtn {
  width: 70px;
  margin-bottom: 10px;
}

.abtn_add {
  background-color: gray;
  color: white;
  border: 2px solid gray;
}

.abtn_cancel {
  background-color: white;
  border: 2px solid gray;
}
