.skill_edit_form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 10px 10px 20px;
  overflow-y: scroll;
}

.skill_edit_form > .form-level-group {
  display: flex;
  flex-direction: row;
  gap: 17px;
}

.skill_edit_form > .form-level-group > .level-divider {
  display: flex;
  justify-content: center;
  align-items: end;
  min-width: 14px;
  height: 49px;
  font-size: 14pt;
  line-height: 26px;
  font-weight: 500;
}

hr.solid {
  width: 390px;
}
