.group_tab > .more_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.group_tab > .more_button:hover {
  background-color: rgb(210, 210, 210);
}

/* Dark Mode */

.dark .group_tab > .more_button {
  color: rgba(255, 255, 255, 0.65);
}

.dark .group_tab > .more_button:hover {
  background-color: rgb(70, 70, 70);
}