.open_sidebar_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  margin: 8px 0 0 8px;
  border-radius: 6px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.open_sidebar_button:hover {
  background-color: rgb(245, 245, 245);
}

/* Dark Mode */

.dark .open_sidebar_button {
  color: rgba(255, 255, 255, 0.65);
}

.dark .open_sidebar_button:hover {
  background-color: #3b3b3b;
}
