.node_button {
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 106px;
  height: 106px;
  pointer-events: auto;
  grid-column: 1;
  grid-row: 1;
}

.node_button > button {
  background-color: white;
  border: 3px solid #c6c6c6;
  border-radius: 50%;
  width: 96px;
  height: 96px;
  flex-shrink: 0;
  z-index: 7;
  overflow: hidden;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  grid-column: 1;
  grid-row: 1;
  display: grid;
  /* 
   * For scroll to display active button
   * Reference: StackOverflow: scrollIntoView Scrolls just too far | https://stackoverflow.com/questions/24665602/scrollintoview-scrolls-just-too-far
   */
  
}

.node_button > .button_listener {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  width: 96px;
  height: 96px;
  z-index: 10;
  cursor: pointer;
  grid-column: 1;
  grid-row: 1;
}

.node_button > .button_listener:hover {
  border: 3px solid rgb(130, 130, 130);
}

.node_button > .button_listener.active {
  border: 3px solid rgb(83, 151, 227);
}

.node_button > .button_listener.active:hover {
  border: 3px solid rgb(83, 151, 227);
  animation: none;
}

/* Dark Mode */

.dark .node_button > button {
  background-color: #212121;
  border: 3px solid rgb(160, 160, 160);
}

.dark .node_button > .button_listener:hover {
  border: 3px solid rgb(200, 200, 200);
  animation-name: node-btn-hover-in;
  animation-duration: 0.2s;
}

.dark .node_button > .button_listener.active:hover {
  border: 3px solid rgb(83, 151, 227);
  animation: none;
}

@keyframes node-btn-hover-in {
  from {border: 3px solid rgb(160, 160, 160);}
  to {border: 3px solid rgb(200, 200, 200);}
}