.skill_tree > .trash_can {
  position: fixed;
  bottom: 0px;
  transform: translate(50px, -40px);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2a2a2a;
  color: rgba(255, 73, 73, 0.65);
}