.main_page {
  display: grid;
  height: 100vh;
  width: 100vw;
  z-index: 0;
  overflow: hidden;
}

.main_page > .container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  overflow: hidden;
  grid-row: 1;
  grid-column: 1;
  z-index: 0;
}

.main_page > .container > .layout_column {
  display: grid;
  height: 100%;
  width: 100%;
}

/* Dark Mode */

.dark .main_page {
  background-color: #212121;
}
