.close_side_bar_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  margin: 8px 0 0 8px;
  border-radius: 4px;
  background-color: rgb(230, 230, 230);
  cursor: pointer;
  border: 1.1px solid rgb(200, 200, 200);
}

.close_side_bar_button:hover {
  background-color: rgb(220, 220, 220);
}

/* Dark Mode */

.dark .close_side_bar_button {
  background-color: #2d2d2d;
  border: 1px solid rgba(255, 255, 255, 0.20);
  color: rgba(255, 255, 255, 0.65);
}

.dark .close_side_bar_button:hover {
  background-color: #3b3b3b;
}
