.group_name_input {
  background-color: transparent;
  border: none;
  width: 232px;
  font-size: 12pt;
}

.group_name_input:active,
.group_name_input:focus {
  border: none;
}

.group_name_input:disabled {
  color: black;
  cursor: pointer;
}
