.toggle_button {
  border: none;
  width: min-content;
  grid-row: 2;
  background-color: transparent;
  transform: translate(8.4px, -10px);
  cursor: pointer;
  display: flex;
  height: 50px;
  width: 90px;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.toggle_button > .dot_icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 30px;
}

.toggle_button > .dot_icons > img {
  width: 22px;
  height: 22px;
  user-select: none;
  -webkit-user-select: none;
}

.toggle_button > .dot_icons > svg.default {
  color: rgb(170, 170, 170);
}

.hover-in {
  color: rgb(130, 130, 130);
  animation-name: hover-in-light;
  animation-duration: 0.1s;
}

@keyframes hover-in-light {
  from {color: rgb(80, 80, 80);}
  to {color: rgb(130, 130, 130);}
}

/* Dark Mode */

.dark .toggle_button > .dot_icons > svg.default {
  color: rgb(100, 100, 100);
}

.dark .hover-in {
  color: rgb(160, 160, 160);
  animation-name: hover-in-dark;
  animation-duration: 0.1s;
}

@keyframes hover-in-dark {
  from {color: rgb(100, 100, 100);}
  to {color: rgb(160, 160, 160);}
}