.toggle_button {
  border: none;
  width: min-content;
  grid-row: 2;
  background-color: transparent;
  padding-top: 5px;
  transform: translate(12.5px, -32px);
  cursor: pointer;
  display: flex;
  height: 60px;
  width: 90px;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.toggle_button > .dot_icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 20px;
  height: 30px;
}

.toggle_button > .dot_icons > img {
  width: 22px;
  height: 22px;
  user-select: none;
  -webkit-user-select: none;
}

.toggle_button > .dot_icons > svg.default {
  color: rgb(80, 80, 80);
}

.hover-in {
  color: rgb(130, 130, 130);
  animation-name: hover-in;
  animation-duration: 0.1s;
}

@keyframes hover-in {
  from {color: rgb(80, 80, 80);}
  to {color: rgb(130, 130, 130);}
}
