.skill_edit > .action_buttons {
  display: flex;
  align-items: center;
  padding: 10px 12px 0 12px;
  justify-content: space-between;
}

.skill_edit > .action_buttons > button { 
  color: rgb(100, 100, 100);
  cursor: pointer;
}

.skill_edit > .action_buttons > button:hover { 
  color: black;
}