.draft_editor .tool_bar {
  position: absolute;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0 0 5px 1px #d4d4d4;
}

.draft_editor .tool_bar div {
  display: flex;
}

.draft_editor .tool_bar button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  height: 30px;
  color: black;
  background-color: transparent;
  cursor: pointer;
}

.draft_editor .tool_bar button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.draft_editor .tool_bar .link_button {
  gap: 4px;
  border-right: 1.5px solid rgba(128, 128, 128, 0.5);
  padding-right: 10px;
  border-radius: 3px 0 0 3px;
}

/* Dark Mode */

.dark .draft_editor .tool_bar {
  background-color: #2d2d2d;
  box-shadow: 0 0 5px 1px #212121;
}

.dark .draft_editor .tool_bar button {
  color: white;
}