.side_bar {
  display: flex;
  flex-direction: column;
  background-color: rgb(230, 230, 230);
  width: 308px;
  height: 100%;
  z-index: 10;
}

/* Dark Mode */

.dark .side_bar {
  background-color: #2d2d2d;
}
