.side_bar {
  display: flex;
  flex-direction: column;
  background-color: rgb(230, 230, 230);
  width: 308px;
  height: 100%;
  z-index: 10;
}

.side_bar > .button_group_top {
  display: flex;
  padding: 9px;
  gap: 6px;
}

/* Dark Mode */

.dark .side_bar {
  background-color: rgba(45, 45, 45);
}
