.node_title {
  color: black;
  font-size: 16pt;
  z-index: 4;
  grid-column: 1;
  grid-row: 1;
  width: 100px;
  text-align: center;
  margin-left: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
