* {
  font-size: 9pt;
}

input, textarea {
  font-size: 10pt;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 2px;
  box-sizing: border-box;
  padding: 5px;
}

textarea {
  resize: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
  display: none;
}

input:active, textarea:active {
  border: 1.2px solid black;
  outline: none;
}

input:focus, textarea:focus {
  border: 1.2px solid black;
  outline: none;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(200, 200, 200);
  border-radius: 5px;
}
