* {
  font-size: 12pt;
}

/* Input & Textarea */

/* 
 * Hide number spin buttons 
 * Reference: StackOverflow: Is it possible to always show up/down arrows for input "number"? | https://stackoverflow.com/questions/25194631/is-it-possible-to-always-show-up-down-arrows-for-input-number

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  display: none;
}
 */

textarea {
  resize: none;
}

input,
textarea {
  border: 1px solid rgb(180, 180, 180);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 13pt;
  padding: 5px;
}

input:active,
textarea:active {
  border: 1.2px solid black;
  outline: none;
}

input:focus,
textarea:focus {
  border: 1.2px solid black;
  outline: none;
}

/* Scroll Bar */

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(200, 200, 200);
  border-radius: 5px;
}

/* Dark Mode */

.App.dark {
  background-color: #212121;
}

.dark input,
.dark textarea {
  background-color: #212121;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.87);
}